<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.polsl.homeorganizer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".checklists.ChecklistInspectActivity"
            android:theme="@style/CustomAppTheme"
            android:label="Checklist"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".notes.NoteInspectActivity"
            android:label="Note"
            android:theme="@style/CustomAppTheme" />
        <activity
            android:name=".UserApplication"
            android:label="@string/title_activity_user_application"
            android:theme="@style/CustomAppTheme" />
        <activity
            android:name=".household.HouseholdManager"
            android:label="@string/title_activity_join_household"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".authentication.LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".register.RegisterActivity"
            android:label="@string/title_activity_register" />
    </application>

</manifest>